<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="./favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-title" content="{{ .Title }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {{ with .Params.role }}<meta name="nb-role" content="{{ . }}">{{ end }}

    {{ $book := (.Site.GetPage "/_book").Params.meta }}
    <title>{{ with .Title }}{{ . | markdownify | plainify | htmlUnescape }}{{ else }}{{ $book.title }}{{ end }}</title>

    {{ $options := (dict "transpiler" "dartsass") }}
    {{ $style := resources.Get "style/style.scss" | toCSS $options | minify }}
    {{ $styleHash:= $style | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen" integrity="{{ $styleHash.Data.Integrity }}">

    {{ $accentBase := int (substr (replaceRE "[abcdef]" "" (md5 (.Site.GetPage "/_book").Params.meta.edition)) -6) }}
    {{ $accentHue := mod (add (mod $accentBase 360) 309) 360 }}
    <style>
      :root {
        --accent-color: hsl({{ $accentHue }}, 71%, 37%);
      }
    </style>

    {{ with .Params.promo }}
      <link rel="stylesheet" href="{{ .baseUrl }}promo.css">
    {{ end }}
  </head>
  <body class="{{ with .Params.class }}{{ . }}{{ end }} {{ with .Params.contentType }}content-{{ . }}{{ end }}">
    <div id="ui-content">
      {{ (.Site.GetPage "/_book").Content }}
    </div>

    {{ block "content" . }}{{ end }}

    {{ $scripts := resources.Get "scripts/bundle.js" }}
    {{ $scriptsHash := $scripts | resources.Fingerprint }}
    <script type="text/javascript" src="{{ $scripts.Permalink }}" integrity="{{ $scriptsHash.Data.Integrity }}"></script>

    {{ with .Params.promo }}
      <script type="text/javascript" src="{{ .baseUrl }}promo.js"></script>
    {{ end }}
  </body>
</html>
