.autocomplete {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}
.autocomplete label {
  display: block;
  margin-bottom: 5px;
}
.autocomplete-input {
  padding: 7px 10px;
  width: 93%;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  height: 6rem;
}
.autocomplete-input:focus {
  border-color: #000;
}

.autocomplete-list {
  position: absolute;
  z-index: 2;

  overflow: auto;

  min-width: 250px;
  max-height: 150px;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  border: 1px solid #eee;

  list-style: none;

  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}
.autocomplete-list li {
  margin: 0;
  padding: 8px 15px;

  border-bottom: 1px solid #f5f5f5;
}
.autocomplete-list li:last-child {
  border-bottom: 0;
}
.autocomplete-list li:hover,
.autocomplete-list li.active {
  background-color: #f5f5f5;
}
.autocomplete-matching {
  height: 6rem;
  overflow: scroll;
  box-shadow: 0 -5px 5px -5px inset rgba(0, 0, 0, 0.3);
}
.autocomplete-matching p {
  margin: 0;
}
.autocomplete-matching ul {
  display: block;
  padding: 0;
  margin: 0;
}
.autocomplete-matching li {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
