@font-face {
  font-family: SpaceGrotesk;
  src: url(../fonts/SpaceGroteskVF.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Literata;
  src: url(../fonts/LiterataTT_var.woff2);
  font-weight: normal;
}
