@font-face {
  font-family: SpaceGrotesk;
  src: url(../fonts/SpaceGroteskVF.woff2);
  font-weight: normal;
}

@font-face {
  font-family: LiterataVar;
  src: url(../fonts/Literata-var.woff2);
  font-style: normal;
}

@font-face {
  font-family: LiterataVar;
  src: url(../fonts/Literata-Italic-var.woff2);
  font-style: italic;
}
