@use "./../../node_modules/@next-book/interface/src/scss/conf";

#title-wrapper {
  --title-size: 14vh;
  --title-line-height: 14vh;

  @media (max-aspect-ratio: 1/1) {
    --title-size: 12vw;
    --title-line-height: 13vw;
  }

  position: relative;
  z-index: map-get(conf.$z-indexes, "breaks");

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--title-color);
  font-family: SpaceGrotesk;

  display: flex;
  align-items: center;

  overflow: hidden;

  .wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
  }

  .top,
  .bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 5vh 5vh 7vh 5vh;
    position: absolute;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  #title {
    font-weight: normal;
    color: white;
    margin: 0;
    text-align: center;

    display: block;
    max-width: 140vh;
    margin: 0 4vw;

    @media (min-aspect-ratio: 1/1) {
      width: calc(80% - 8vw);
    }

    h2.author {
      font-family: LiterataVar;
      font-variation-settings: "wght" 200, "opsz" 72;
      font-weight: 200;
      font-size: calc(var(--title-size) * 0.9);
      line-height: var(--title-line-height);

      margin: 0;
      padding-bottom: calc(var(--title-size) * 0.2);

      color: white;

      position: relative;
      z-index: 2;
    }

    h1.title {
      font-size: var(--title-size);
      line-height: var(--title-line-height);
      font-weight: 500;
      font-variation-settings: "wght" 515;
      font-family: SpaceGrotesk;

      margin: 0;

      position: relative;
      z-index: 2;
    }
  }

  h3 {
    font-size: 3vh;
    line-height: 3vh;
    font-variation-settings: "wght" 350;

    position: absolute;

    margin: 0;
    padding: 0;

    color: black;
    font-weight: 400;
  }

  h3.publisher {
    top: 1vh;
    left: 1vh;
  }

  h3.edition {
    top: 1vh;
    left: 50vw;
  }

  .animation {
    width: min(85vh, 85vw);
    height: min(85vh, 85vw);

    position: relative;
  }

  .circles {
    background: center no-repeat url("./../template-images/circles.png");
    background-size: cover;
    height: min(85vh, 85vw);
    width: min(85vh, 85vw);
    margin: 0;
    padding: 0;

    position: absolute;
  }

  .anim-one {
    -webkit-animation: rotating-one 30s linear infinite;
    -moz-animation: rotating-one 30s linear infinite;
    -ms-animation: rotating-one 30s linear infinite;
    -o-animation: rotating-one 30s linear infinite;
    animation: rotating-one 30s linear infinite;
  }

  .anim-two {
    -webkit-animation: rotating-two 25s linear infinite;
    -moz-animation: rotating-two 25s linear infinite;
    -ms-animation: rotating-two 25s linear infinite;
    -o-animation: rotating-two 25s linear infinite;
    animation: rotating-two 25s linear infinite;
  }
}

@-webkit-keyframes rotating-one /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating-two /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotating-one {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating-two {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
