body {
  --p-indent: 3rem;
  --p-margin-bottom: 0;
  --p-line-height: 1.9rem;
  --section-vertical-margin: 3rem;

  --h1-font-size: 4rem;
  --h1-line-height: 6rem;
  --h1-margin-bottom: 13rem;
  --h1-font-family: LiterataVar;
  --h1-font-weight: 200;
  --h1-font-variation-settings: "wght" 200, "opsz" 72;
}

.content-poetry {
  --p-indent: 0;
  --p-margin-bottom: 1.9rem;
  --p-line-height: 1.9rem;
  --section-vertical-margin: 1.5rem;

  --h1-font-size: 1.2rem;
  --h1-line-height: 1.9rem;
  --h1-margin-bottom: 1.9rem;
  --h1-font-family: SpaceGrotesk;
  --h1-font-weight: 700;
  --h1-font-variation-settings: normal;
}

main {
  h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    margin-bottom: var(--h1-margin-bottom);

    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-variation-settings: var(--h1-font-variation-settings);
  }

  p {
    margin-bottom: var(--p-margin-bottom);
    text-indent: var(--p-indent);
    font-family: LiterataVar;
    font-weight: 400;
    font-variation-settings: "wght" 400, "opsz" 12;
    font-size: 1rem;
    line-height: var(--p-line-height);
  }

  section {
    margin-bottom: var(--section-vertical-margin);
  }

  blockquote,
  q,
  blockquote p {
    font-family: LiterataVar;
    font-style: italic;
  }

  blockquote {
    margin: 1.9rem 0;
  }

  blockquote {
    margin-left: var(--p-line-height) var(--p-indent);
  }

  h1 + p,
  h2 + p,
  h3 + p,
  section p:first-child,
  blockquote p:first-child {
    text-indent: 0;
  }
}
