@import "./../../node_modules/nb-base/src/scss/style.scss";

:root {
  font-family: serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  height: 100%;

  --background: #fafafa;
  --main: #255537;
  --light: #fafafa;
  --dark: rgba(0, 0, 0, 0.8);
  color: var(--dark);
}

.hero {
  background: navy;
  background-size: cover;
  box-sizing: border-box;
  padding: 10vh 10vw;
  margin-bottom: -11vh;

  h1,
  p {
    font-family: serif;
    color: white;
    font-size: 7vh;
    text-shadow: black 0px 0px 2px;
    text-align: center;
    line-height: 1.2;
  }

  p {
    text-transform: uppercase;
    font-size: 5vh;
  }
}

/*body,
html {
  margin: 0;
  padding: 0;

  background: var(--background);
}

.content {
  padding-left: 0;
  padding-right: 0;
}



.nb-navigation nav .top-bar {
  background: rgba(navy, 0.4);

  a {
    font-weight: bold;
    color: var(--light);
  }
}

hr {
  margin: 4rem 25vw 4rem 0;
  border: 0.5rem solid rgba(#255537, 0.2);
}

a {
  color: var(--main);
  padding: 3px 0;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif;
  font-weight: bold;
  margin: 1em 0 0.125em;
}

p,
ul,
ol,
blockquote {
  margin: 0 0 0.7em;
}

ol ul {
  margin: 0;
}

ul {
  padding-left: 1.1rem;

  li {
    list-style-type: square;

    ul {
      margin: 0;
    }
  }
}

.table-wrapper {
  overflow-x: auto;
}

.wrapper {
  max-width: 32rem;
  margin: 0 auto;
  padding: var(--base-padding);

  q:before {
    content: "“";
  }

  q:after {
    content: "”";
  }

  blockquote {
    cite:before {
      content: "— ";
    }
  }

  dd {
    margin-bottom: 1em;
  }

  table {
    border-collapse: collapse;

    thead {
      background: var(--main);
    }

    td,
    th {
      border: 1px solid var(--main);
      text-align: center;
      padding: 0.5rem;
    }

    th {
      font-family: sans-serif;
    }

    img {
      width: 100%;
      margin: 0;
    }
  }

  img {
    display: block;
    max-width: 100%;

    &.fullwidth {
      max-width: auto;
      width: 100vw;
      margin-left: unquote("calc((-100vw + 32rem) / 2)");
    }
  }
}

.wrapper img.nosize {
  width: auto;
  height: auto;
  margin: 0;
}
*/
