{{ define "content" }}
{{ $book := (.Site.GetPage "/_book").Params.meta }}
<main>
  <div id="title-wrapper">
    <div id="title">
        <h2 class="author">{{ $book.author | replaceRE "([^0-9AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž][0-9AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž]{1,2}) " "$1&nbsp;" | safeHTML }}</h2>
        <h1 class="title">{{ $book.title | replaceRE "([^0-9AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž][0-9AÁBCČDĎEÉĚFGHIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽaábcčdďeéěfghiíjklmnňoópqrřsštťuúůvwxyýzž]{1,2}) " "$1&nbsp;" | safeHTML }}</h1>
      </div>

      <div class="wrapper">
        <div class="animation">
              <div class="circles anim-one"></div>
              <div class="circles anim-two"></div>
          </div>
      </div>

      <h3 class="publisher">{{ $book.publisherShort }}</h3>
      <h3 class="edition">{{ $book.edition }}</h3>
    </div>
  </div>
</main>
{{ end }}
